div(class="dropdown pull-right")
    button(class="btn btn-primary dropdown-toggle", type="button", data-toggle="dropdown")
        | Seleccionar Período 
        span(class="caret")
    ul(class="dropdown-menu dropdown-menu-right")
        li(class="dropdown-header") Año 2016
        li
            a(href="#") Q1 2016
        li
            a(href="#") Q2 2016
        li
            a(href="#") Q3 2016
        li
            a(href="#") Q4 2016
        li(class="dropdown-header") Año 2017
        li
            a(href="#") Q1 2017
        li
            a(href="#") Q2 2017
        li
            a(href="#") Q3 2017
        li
            a(href="#") Q4 2017
        